crimson_settings:
  port: 9001
  password: "crimsonQ!"
  ip_whitelist: '*'
  heartbeat_seconds: 30
  system_db_path: /CrimsonQ/.crimsonQ/dbs
  data_rootpath: /CrimsonQ/.crimsonQ/dbs
  watchdog_seconds: 5
  active_before_delayed: 30
  delayed_before_failed: 30
  db_full_persist: false
  disk_sync_seconds: 30
  db_detect_conflicts: true
  consumer_inactive_destroy_hours: 48
logs:
  root_path: /CrimsonQ/.crimsonQ/logs