crimson_settings:
  port: 9001
  password: "crimsonQ!"
  ip_whitelist: 
    - 127.0.0.1
  heartbeat_seconds: 30
  system_db_path: ../_crimsonq/.system
  data_rootpath: ../_crimsonq/.dbs
  watchdog_seconds: 5
  active_before_delayed: 30
  delayed_before_failed: 30
  db_full_persist: false
  disk_sync_seconds: 30
  db_detect_conflicts: true
  consumer_inactive_destroy_hours: 1
logs:
  root_path: ../_crimsonq/logs